name: Eslint
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install --only=dev
      - name: Run ESLint
        run: eslint . --ext .js,.jsx,.ts,.tsx
      - name: Run Prettier
        run: npx prettier . --write
