name: Publish to NPM beta

permissions:
  contents: write
  pull-requests: write
  actions: read
  statuses: write

on:
  # Instead of a Merge Queue, we'll just run this on main.
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  publish-canary:
    name: Publish testdriverai@beta
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out the repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Version the package
        run: npm version --no-git-tag-version prerelease --preid=canary.$(git rev-parse --short HEAD)

      - name: Publish to canary and beta tags
        run: |
          npm publish --tag canary
          sleep 15
          npm dist-tag add testdriverai@$(npm view testdriverai@canary version) beta
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
