trigger-vscode-build:
  runs-on: ubuntu-latest
  steps:
    - name: Trigger VSCode Build + Publish
      uses: peter-evans/repository-dispatch@v3
      with:
        repository: testdriverai/vscode
        event-type: cli-publish
        token: ${{ secrets.GH_TOKEN }}
